@{
    Layout = null;
    string mess = ViewData["mess"]?.ToString();
}
@model  List<WebBDS.Models.LoaiBDS>
@{
    List<WebBDS.Models.LoaiBDS> list = new List<WebBDS.Models.LoaiBDS>();
    list = Model.ToList();
    WebBDS.Models.BDS data = new WebBDS.Models.BDS();
    object dt = null;
    if (TempData["bdsEdit"] != null)
    {
        dt = TempData["bdsEdit"];
        data = (WebBDS.Models.BDS)dt;
    }
    string id = data._id;
    string idLoai = data.maloaiBDS;
    string name = data.Name;
    string mota = data.Mota;
    string vitri = data.Vitri;
    string dientich = data.Dientich;
    string status = data.Status;
    string gia = data.Gia;
    string kinhdo = data.KinhDo;
    string vido = data.ViDo;
    List<String> image = data.Image;
}

<!DOCTYPE html>
<html>
<head>
    <title>Update BDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- /fonts -->
    <!-- css -->
    <link href="~/Content/custom/Login/css/font-awesome.min.css" />
    <link href="~/Content/custom/Login/css/style.css" rel='stylesheet' type='text/css' media="all" />
    <!-- /css -->
    <link rel="icon" type="image/png" href="~/images/favicon.ico">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        function initMap() {
            const uluru = { lat: 10.762622, lng: 106.660172 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: 10.762622, lng: 106.660172 },
            });
            //const marker = new google.maps.Marker({
            //    position: uluru,
            //    map: map,
            //});
            const geocoder = new google.maps.Geocoder();
            document.getElementById("submit").addEventListener("click", () => {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            const address = document.getElementById("diachi").value;
            geocoder
                .geocode({ address: address })
                .then(({ results }) => {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                    });

                    $(".vido").val(results[0].geometry.location.lat());
                    $(".kinhdo").val(results[0].geometry.location.lng());
                })
                .catch((e) =>
                    alert("Geocode was not successful for the following reason: " + e)
                );
        }
    </script>
    <style>
        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: "Roboto", "sans-serif";
            line-height: 30px;
            padding-left: 10px;
        }

        .content-w3ls .content-agile1 {
            height: 800px;
        }

        .lbEdit {
            width: 300px;
            padding: 0 15px;
            color: #fff;
            font-size: 17px;
            font-weight: 200;
            background-color: transparent;
            margin: 0 auto 10px;
            display: block;
            outline: none;
        }

        .kvDo {
            text-decoration: none;
            color: #fff;
        }

            .kvDo:hover {
                opacity: 0.8;
                cursor: pointer;
            }

        .overlay {
            background-color: grey;
            opacity: 0.8;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            z-index: 998;
        }

        .thongbao {
            display: none;
            position: absolute;
            width: 60%;
            height: 30%;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 5px;
            z-index: 999;
        }

        #floating-panel {
            height: 40px !important;
        }

        #diachi {
            margin: 5px;
            height: 20px;
            width: 300px;
            font-size: 18px;
        }

        #submit {
            padding: 5px !important;
            font-weight: 700 !important;
        }

        .thongbao2 {
            display: none;
            position: absolute;
            width: 30%;
            height: 20%;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 5px;
            z-index: 999;
        }

        .thongbao__title {
            text-align: center;
            padding: 5px;
            font-weight: bold;
            color: #000;
            font-size: 25px;
        }

        .thongbao__des {
            text-align: center;
            padding: 10px;
            color: green
        }

        .thongbao__btn {
            text-align: center;
            margin-top: 30px;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }

        .thongbao__btn--ok {
            background-color: green;
            width: max-content;
            height: max-content;
            border-radius: 5px;
            padding: 5px 20px;
            margin: 0 5px;
            color: #fff;
        }

        .thongbao__btn--huy {
            color: #fff;
            background-color: red;
            width: max-content;
            height: max-content;
            border-radius: 5px;
            padding: 5px 20px;
            margin: 0 5px;
        }

            .thongbao__btn--huy:hover, .thongbao__btn--ok:hover {
                cursor: pointer;
                opacity: 0.8;
                color: #000;
            }
    </style>
</head>
<body style="position:relative">
    <h1 class="w3ls" style="font-weight:600"><a href="#" style="color:#fff">Cập Nhật Bất Động Sản</a></h1>
    <span class="thongbaoloi">@mess</span>
    <div class="content-w3ls">
        <div id="imageSelector" style="width:45%;float: left;height: 1727px;padding:5px; overflow:scroll">
        </div>
        <div class="content-agile2">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-control w3layouts">
                    <input type="file" id="firstname" class="" name="file" multiple accept="image/*">
                </div>

                <div class="form-control agileinfo" style="display:flex;color:red;justify-content:space-evenly">

                    <input type="radio" checked id="cb1" name="luachon" value="Khong">
                    <label style="color:#fff; font-weight:bold" for="cb1">Không Ghi Đè Image</label><br>

                    <input type="radio" id="cb2" name="luachon" value="Co">
                    <label style="color:#fff;font-weight:bold" for="cb2">Ghi Đè Image</label><br>
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Tên BDS</label>
                <div class="form-control w3layouts">
                    <input type="text" id="email" class="nameBDS" name="Name" placeholder="Tên BDS" title="Please enter a valid name" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Mô tả bất động sản</label>
                <div class="form-control agileinfo">
                    <input type="text" class="lock motaBDS" name="Mota" placeholder="Mô tả bất động sản" id="address1" title="Please enter a valid mota" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Vị trí</label>
                <div class="form-control agileinfo">
                    <input type="text" class="lock vitriBDS" name="Vitri" placeholder="Vị trí bất động sản" id="address1" title="Please enter a valid mota" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Diện tích</label>
                <div class="form-control agileinfo">
                    <input type="number" class="lock dientichBDS" name="Dientich" placeholder="Diện tích" id="address1" title="Please enter a valid mota" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Giá</label>
                <div class="form-control agileinfo">
                    <input type="text" class="lock giaBDS" name="Gia" placeholder="Giá" id="password1" title="Please enter a valid gia" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">
                    Lấy Kinh độ và Vĩ độ <a class="kvDo" onclick="showGoogle()">( Click )</a>
                </label>
                <div class="form-control agileinfo">
                    <input type="text" class="lock kdBDS kinhdo" readonly name="KinhDo" placeholder="Kinh Độ" id="address1" title="Please enter a valid kinh do" required="">
                </div>
                <div class="form-control agileinfo">
                    <input type="text" class="lock vdBDS vido" readonly name="ViDo" placeholder="Vĩ Độ" id="address1" title="Please enter a valid vĩ độ" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock imageBDS" name="Image" placeholder="" id="address1" title="Please enter a valid mota" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock idBDS" name="_id" placeholder="" id="address1" title="Please enter a valid mota" required="">
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Trạng thái</label>
                <div class="form-control agileinfo">
                    <select class="statusBDS" name="Status" id="address1" style="width:330px">
                        <option style="color:#000" name="Status" value="Mua">Mua</option>
                        <option style="color:#000" name="Status" value="Thue">Thuê</option>
                    </select>
                </div>

                <br>
                <br>
                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">Loại bất động sản</label>
                <div class="form-control agileinfo">
                    <select name="maloaiBDS" id="address1" class="loaiBDS" style="width:330px">
                        @foreach (var item in list)
                        {
                            <option style="color:#000" name="maloaiBDS" value="@item._id">@item.Name</option>
                        }
                    </select>
                </div>

                <input type="submit" class="register update" value="Update">
                <a href="/Admin/ListBDS">
                    <input class="register exit" type="button" value="Trở Về">
                </a>
            </form>
        </div>
        <div class="clear"></div>
    </div>

    @*thông báo overlay*@
    <div class="overlay">
    </div>
    <div class="thongbao">
        <div id="floating-panel">
            <input id="diachi" type="text" value="Ho Chi Minh City" />
            <input id="submit" type="button" value="Get lat & lng" />
            <input id="exit" type="button" value="Đóng" />
        </div>
        <div id="map" style="height:100%;width:100%"></div>
    </div>

    <div class="thongbao2">
        <div class="thongbao__title">
            <h1>Thông báo</h1>
        </div>
        <div class="thongbao__des">
            <h3>Đăng nhập thành công !!!</h3>
        </div>
        <div class="thongbao__btn">
            <div class="thongbao__btn--ok">
                <p class="btn--ok">OK</p>
            </div>
            <div class="thongbao__btn--huy">
                <p class="btn--ok">Hủy</p>
            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3gIi0RSsSqFQHqlW_dICB5idZj7xIaI&callback=initMap&libraries=&v=weekly"
            async></script>
    <script src="~/Content/custom/User/assets/js/core/jquery.min.js"></script>
</body>
</html>
<script>

    $('.update').click(function () {
        $(".overlay").show();
        $(".thongbao2").show();
        $(".thongbao__des h3").text('Loading ...');
        $(".thongbao__btn").hide();
    })
    $('.exit').click(function () {
        $(".overlay").show();
        $(".thongbao2").show();
        $(".thongbao__des h3").text('Loading ...');
        $(".thongbao__btn").hide();
    })

    function showGoogle() {
        $(".overlay").toggle();
        $(".thongbao").toggle();
        $('#diachi').val($('.vitriBDS').val());
    }
    $('#exit').click(function () {
        $(".overlay").toggle();
        $(".thongbao").toggle();
    })
</script>
<script>
    $(document).ready(function () {
        var array = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(list)'.replace(/&quot;/g, "\""));
        var image = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(image)'.replace(/&quot;/g, "\""));

        for (let i = 0; i < image.length; i++) {
            var elem = document.createElement("img");
            elem.setAttribute("src", image[i]);
            elem.setAttribute("alt", "https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png");
            document.getElementById("imageSelector").appendChild(elem);
        }

        document.getElementById("firstname").onchange = function () {
            var arr = event.target.files;
            for (let i = 0; i < arr.length; i++) {
                //const className = "imgBDSselect" + i;
                //console.log(className);
                var file = event.target.files[i];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var elem = document.createElement("img");
                    elem.setAttribute("src", e.target.result);
                    elem.setAttribute("alt", "https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png");
                    document.getElementById("imageSelector").appendChild(elem);
                };
                reader.readAsDataURL(file);
            }
        };

        var id = '@id';
        var idLoai = '@idLoai';
        var name = '@name';
        var mota = '@data.Mota';
        var vitri = '@data.Vitri';
        var dientich = '@dientich';
        var status = '@status';
        var gia = '@data.Gia';
        var kinhdo = '@kinhdo';
        var vido = '@vido';

        if (status == "Mua") {
            $(".statusBDS").val("Mua");
        }
        else {
            $(".statusBDS").val("Thue");
        }

        /*$('.content-w3ls .content-agile1').css("background", "url(" + image + ")");*/

        $(".imageBDS").val(image);

        $(".imageBDS").hide();

        $(".idBDS").val(id);
        $(".idBDS").hide();

        $(".nameBDS").val(name);
        $(".motaBDS").val(mota);
        $(".vitriBDS").val(vitri);
        $(".dientichBDS").val(dientich);

        $(".giaBDS").val(gia);

        $(".kdBDS").val(kinhdo);
        $(".vdBDS").val(vido);

        $(".statusBDS").val(status);
        // array[i]._id.localeCompare(id)
        $(".loaiBDS").val(idLoai);
    })
</script>